@import './variable.scss';

@mixin reset-component() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $text-color;
  font-size: $font-size-base;
  line-height: $line-height-base;
  list-style: none;

  // 字体印刷排版相关
  // font-variant: $font-variant-base;
  // font-feature-settings: $font-feature-settings-base;
}